/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#00008b5f;
}

/* Register Card */
.registerCard {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title */
.registerTitle {
    text-align: center;
    color: #333;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.inputField,
.selectField {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.inputField:focus,
.selectField:focus {
    outline: none;
    border-color: var(--primary-text-color);
    box-shadow: 0 0 5px #00008b75;
}

.container label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.submitBtn {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background-color:#00008B;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.errorMessage {
    color: #dc3545;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.alreadyLink {
    color: var(--primary-text-color);
}

/* Responsive */
@media (max-width: 500px) {
    .registerCard {
        padding: 20px;
    }

    .inputField,
    .selectField,
    .submitBtn {
        font-size: 14px;
    }
}