.authPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#00008b5f;
    font-family: 'Arial', sans-serif;
}

.loginForm {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.formGroup {
    margin-bottom: 15px;
}

.authPage label {
    display: flex;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333333;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: var(--primary-text-color);
    outline: none;
}

.submitButton {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #00008B;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.errorMessage {
    color: #dc3545;
    font-weight: bold;
    margin-bottom: 15px;
}

.alreadyLink {
    color: var(--primary-text-color);
}

@media (max-width: 768px) {
    .authPage {
        padding: 20px;
    }
}